HUBSPOT_CLIENT_ID=
HUBSPOT_CLIENT_SECRET=
TOKEN_ENCRYPTION_KEY=
RESEND_API_KEY=
ADMIN_API_KEY=
APP_BASE_URL=http://localhost:8787
HUBSPOT_APP_ID=
EMAIL_FROM=DealGuard <dealguard@rokad.co>
SUPPORT_EMAIL=company@rokad.co
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
